---
title: Logging at TripAdvisor
desc: Guest Speaker Bob Stachel about TripAdvisor
homework: 1) nT Team Interim Report; 2) TripAdvisor; 3) Complete work on nT 0.6, begin on nT 0.7
cat: scale
---
<%= homework_hdr %>
**Legend**: <%=partbadge%>:Participation <%= timebadge %>:Early <%= pdfbadge %>:PDF <%=codebadge %>:Dropbox

1. <%= partbadge %> <%= pdfbadge %> <%= timebadge %> **Trip Advisor**: Experiment with Trip Advisor. Look at the Hotels page for a large city: New York, Paris, London, Tokyo. Enter some dates for a hotel stay and see the prices come up for dozens of hotels. Think about what is behind that.

    One fact to start with, that makes it even more complicated,  is - TripAdvisor is not a travel agency. It does not manage the prices or availability for these hotels, or make the bookings - that is handled by the online travel agencies like Expedia, Orbitz, Travelocity. <%= deliverable "Do some googling and take some guesses about what Trip Advisor's architecture is to handle the prices and availability for hotels" %> **[GRADED FOR PARTICIPATION ONLY]**
1. <%=partbadge %> <%= codebadge %> <%= pdfbadge %> **nT 0.6** Complete nt 0.6 as a team (See: <%= link_to_section :nt, :nt_outline %>). Write and submit a brief project update as a pdf. What went well, what were the challenges, and what are the remaining problems. <%= team_deliverable %(nT code for 0.6 in portfolio and github. Submit to Latte the brief project update.) %>

#### Guest Lecturer

* Our speaker today is Bob Stachel, a Brandeis Alum. You can find [information about Bob on LinkedIn.](hhttps://www.linkedin.com/pub/bob-stachel/1/2ab/179). You might ask him to link to you on linkedIn!

<hr>

<a class="embedly-card" href="https://www.linkedin.com/pub/bob-stachel/1/2ab/179">Bob Stachel | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

#### Questions that will be discussed

* Why is logging crucial in building a scalable system?
* We explore how this can happen in reasonably real-time, 24x7, for hundreds of thousands of times an hour, and, what happens when something goes wrong?

* Presentation Link: [Bob Stachel Presentation](https://docs.google.com/presentation/d/1_tkySFUCLrw7ikMfIUhgGKHw2jMwaMY2p08exNHKtmU/edit?usp=sharing)

#### Next Class
* Look at homework: <%= link_to_next_lecture %>
