---
title: "Guest Speaker: Paul Kleppner"
desc: Adobe System Architect Paul Kleppner will cover scaling challenges at Adobe Systems and life in the real world!
cat: general
homework: 1) complete nT 0.5
---
<%= homework_hdr %>

1. <%= partbadge %> <%= codebadge %> **Complete nt 0.5 as a team:** See: <%= link_to_topic :nt_outline %> for detailed submission instructions and specifics for this stage. <%= team_deliverable %(Github repo zipped up.) %> This submission will be graded so please make it as clean as possible!

#### Technical Presentation
<%= callout("Presentation", " Aaron presents about Client programming languages - Elm") %>

### Guest Speaker

<div style="width:150px; float:left; margin-right:10px;">
  <img src="https://mir-s3-cdn-cf.behance.net/user/276/f084952085771.57d45dc19b813.jpg" style="width:150px;">
</div>
We are lucky today to have Paul Kleppner filling in for me. Paul is a Product Architect at Adobe where he has had first hand experience with their sprawling scalable infrastructure. I've known Paul for many years, at Lotus Development and other companies where we have worked together. He has been on the technical side of many companies, as a programmer, team lead, project leader, architect and manager. But all the while he has remained very close to the code, keeping his hands dirty and up to date with the latest technology. He has quite a [list of patents to his name](https://patents.google.com/?inventor=Paul+Kleppner).
